body {
    background-color: #f8f8f8;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

a {
    color: black;
}

img {
    border-radius: 60px;
}

.andersonCounty{
    background-color: #e2e1e1;
    color: #ebebeb;
    font-size: 1rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.andrewsCounty{
    background-color: #e2e1e1;
    color: #ebebeb;
    font-size: 1rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}